.cloc-mono {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.lib-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 18px;
}

.lib-section-nav {
  padding: 10px;
}

.browser-item {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 10px;
}

.var-heading {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 18px;
}

.var-doc {
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-query {
  width: 25em;
}

#results-list {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.result {
  border-bottom: 1px solid #dadada;
}

.active-result {
  background-color: #a9dba9;
}
